/* ====================================
   Global Styles
   ==================================== */

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====================================
   Root Variables
   ==================================== */
:root {
    /* Colors */


    /* Fonts */



}
